body{
    align-items: center;
  }
  header {
    position: sticky;
    max-width: 100%;
    height: auto;
    margin-top: 61px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .logo{
    margin: 0px;
    padding: 0px;
    grid-column:  1 / 1;
    grid-row: 1 / 2;
  }
  nav {
    width: 150px;
    height: auto; 
    grid-column:  5 / 6;
    grid-row: 1 / 2; 
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  li {
    float: left;
    width: 65px;
  }
  a{
    text-decoration: none;
    color: black;
  }